[core]
  excludesfile = ~/.gitignore
	autocrlf = true
	whitespace = cr-at-eol
[pull]
	rebase = true

[includeIf "gitdir:~/personal_code/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/workdirectory/"]
  path = .gitconfig-professional
